.mainNav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #378261;
  margin: 0%;
  padding: 0%;
  height: 40px;
}
.mainNav__links {
  color: white;
  text-decoration: none;
}
.mainNav__links--highlighted:hover {
  color: #d6e6a1;
  text-decoration: underline;
}

* {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

.mainNav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #378261;
  margin: 0%;
  padding: 0%;
  height: 40px;
}
.mainNav__links {
  color: white;
  text-decoration: none;
}
.mainNav__links--highlighted:hover {
  color: #d6e6a1;
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  #menuToggle {
    display: block;
    position: relative;
    top: 5px;
    left: 5px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: #d6e6a1;
    text-decoration: underline;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  /*
  * Just a quick hamburger
  */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #8bc46c;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #8bc46c;
  }

  /*
  * But let's hide the middle one.
  */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
  * Ohyeah and the last one should go the other direction
  */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
  * Make this absolute positioned
  * at the top left of the screen
  */
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #378261;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  /*
  * And let's slide it in from the left
  */
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
.home-grid {
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 10vw 20vw 20vw 20vw;
  grid-template-areas: "title title" "img1 txt1" "txt2 img2" "img3 txt3";
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .home-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "title" "img1" "txt1" "img2" "txt2" "img3" "txt3";
    justify-content: center;
    align-items: center;
    margin-left: 30%;
  }
}
.home-grid__title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .home-grid__title {
    font-size: 8px;
    margin-right: 35%;
    text-align: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 869px) {
  .home-grid__title {
    font-size: 8px;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}
.home-grid__img1 {
  grid-area: img1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vw;
  width: 40vw;
}
.home-grid__txt1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vw;
  width: 40vw;
}
.home-grid__txt2 {
  grid-area: txt2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vw;
  width: 40vw;
}
.home-grid__img2 {
  grid-area: img2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .home-grid__img2 {
    justify-content: left;
  }
}
.home-grid__img3 {
  grid-area: img3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-grid__txt3 {
  grid-area: txt3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vw;
  width: 40vw;
}

.home-grid__txt1 P {
  margin: 20px;
  padding: 20px;
  font-size: large;
}
@media only screen and (max-width: 480px) {
  .home-grid__txt1 P {
    font-size: 8px;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 869px) {
  .home-grid__txt1 P {
    font-size: 12px;
    text-align: left;
    margin: 5px;
    padding: 5px;
  }
}

.home-grid__txt2 P {
  margin: 20px;
  padding: 20px;
  font-size: large;
}
@media only screen and (max-width: 480px) {
  .home-grid__txt2 P {
    font-size: 8px;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 869px) {
  .home-grid__txt2 P {
    font-size: 8px;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}

.home-grid__txt3 P {
  margin: 20px;
  padding: 20px;
  font-size: large;
}
@media only screen and (max-width: 480px) {
  .home-grid__txt3 P {
    font-size: 8px;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 869px) {
  .home-grid__txt3 P {
    font-size: 12px;
    text-align: left;
    margin: 5px;
    padding: 5px;
  }
}

.images {
  height: 20vw;
  width: 40vw;
}

@media only screen and (max-width: 480px) {
  iframe {
    width: 50%;
    height: 10%;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 869px) {
  iframe {
    width: 80%;
    height: 5%;
  }
}
@media only screen and (min-width: 870px) {
  iframe {
    width: 550px;
    height: 250px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 480px) {
  #Italian {
    margin-top: 10%;
    margin-right: 40%;
  }
}

.form {
  border: 2px solid black;
}

.main-form {
  display: flex;
  justify-content: center;
}

main > .contact-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.header_pagetitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pageFooter {
  position: static;
  bottom: 0;
  margin-top: 10px;
}
.pageFooter__content {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  background-color: #378261;
  color: white;
  padding: 5px;
}

.maingallery {
  display: flex;
  justify-content: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: 20px;
}

.gallery > img {
  height: 200px;
  width: 300px;
  padding: 10px;
  border: 5px solid #d6e6a1;
}

.gallery > img:hover {
  box-shadow: 0 32px 64px 0 #8bc46c;
}

.button {
  background-color: #378261;
  border: 4px solid #8bc46c;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
.button:hover {
  background-color: #d6e6a1;
}

.contactimage {
  height: 250px;
  width: 400px;
  margin-top: 20px;
}

/*# sourceMappingURL=teststyles.css.map */
